
<div class="card">
  <div class="card-header card-header-danger" style="text-align: center">
    <h4 class="card-title">show student progress</h4>
    <p class="card-category">The student progress</p>
  </div>
  <div class="card-body">

  <form  #f ="ngForm"  [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm(f.value)">

    <nz-form-item>
      <nz-form-label style="font-family: Roboto;" [nzSpan]="5" nzFor="cour" nzRequired>Course</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Please select your course!">
        <nz-select
          id="cour" formControlName="cours" nzPlaceHolder="Select course"
          nzAllowClear
          [(ngModel)]="SelectedCour"
          (ngModelChange)="changeCour($event)"
          nzAllowClear>
          <nz-option *ngFor="let option of listOfCours" [nzLabel]="option.title" [nzValue]="option"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
   </form>
    <div class="card-content table-responsive table-full-width">
      <table class="table">
        <thead>
    <tr>
      <th>student</th>
      <th>number of valid sections</th>
      <th>number of invalid sections</th>
      <th>number of remaining sections </th>
      <th>progress</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of showListEtudiantCours index as i  " >
      <td>{{data.student.firstName}}</td>
      <td>{{data.numberValidSection}}</td>
      <td>{{data.numberInvalidSection}}</td>
      <td>{{data.numberRemainingSection}}</td>
      <td>  <nz-progress [nzPercent]="((data.numberInvalidSection-data.numberValidSection))*10" nzType="circle" [nzWidth]="80"></nz-progress></td>


    </tr>
    </tbody>
      </table>
    </div>

  </div>
</div>

