<div>
  <div *ngIf="!selectedCourse" >
    <div nz-row [nzGutter]="8">
      <div   nz-col class="card" [nzSpan]="8"  *ngFor="let course of courses" (click)="startCourse(course)" >
        <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
          <nz-card-meta nzTitle="{{course.id}}" nzDescription="{{course.title}}"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img alt="example" src="../../../../assets/university.png"/>
        </ng-template>
      </div>
    </div>
  </div>

  <div *ngIf="selectedCourse && !completedCourse" class="questionAnswers">
    <button nz-button nzType="default" (click)="back()" nzShape="circle"><i nz-icon nzType="left" nzTheme="outline"></i></button>
    <br>
    <nz-progress [nzPercent]="percent.toFixed(0)"></nz-progress>
    <br>
    <div >
      <h1>section : {{courseItem.sections[currentCourse].id}}</h1>
      <div  [innerHTML]="courseItem.sections[currentCourse].container"></div>
    </div>
    <br>

    <button class="button" nz-button nzType="default"  (click)="increase()">next</button>
    <button class="button" nz-button nzType="danger" (click)="decline()">previous</button>
  </div>
  <div *ngIf="completedCourse">
    <button nz-button nzType="default" (click)="back()" nzShape="circle"><i nz-icon nzType="left" nzTheme="outline"></i></button>
    <nz-result
      nzStatus="success"
      nzTitle="Congratulations! You have successfully completed this course!"
      nzSubTitle="Thank you"
    >

    </nz-result>
  </div>
</div>

