<div>
  <div *ngIf="!selectedCourse">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-rose">
          <h4 class="card-title">This is the list of available courses </h4>
          <p class="card-category">Start a course</p>
        </div>
        <div class="card-body">
          <br>
          <div class="row ">
            <div class="col-md-6" *ngFor="let course of courses">
              <div class="card card-stats courses">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <span class="material-icons">auto_stories</span>
                  </div>
                  <p class="card-category">{{course.id}}</p>
                  <h3 class="card-title">{{course.title}}
                  </h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <!--              <button  mat-raised-button class="btn btn-default btn-sm">Start</button>-->
                    <!--                    <button type="button" class="btn btn-outline-warning">Warning</button>-->
                    <button mat-raised-button (click)="startCourse(course)" class="btn btn-outline-warning btn-sm">
                      Start
                    </button>
                    <!--                    <button nz-buttonnzType="default">Start</button>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">-->
    <!--      <div   nz-col class="card" [nzSpan]="6"   *ngFor="let course of courses" (click)="startCourse(course)" >-->
    <!--        <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">-->
    <!--          <nz-card-meta nzTitle="{{course.id}}" nzDescription="{{course.title}}"></nz-card-meta>-->
    <!--        </nz-card>-->
    <!--        <ng-template #coverTemplate>-->
    <!--          <img alt="example" src="../../../../assets/university.png"/>-->
    <!--        </ng-template>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>

  <div *ngIf="selectedCourse && !completedCourse" class="questionAnswers">
    <button type="button" class="btn btn-outline-danger btn-sm" (click)="back()">
      <span class="material-icons">arrow_back</span>
    </button>
    <br>
    <nz-progress [nzPercent]="percent.toFixed(0)"></nz-progress>
    <br>
    <div>
      <h1>section : {{courseItem.sections[currentCourse].id}}</h1>
      <div [innerHTML]="courseItem.sections[currentCourse].container"></div>
    </div>
    <br>

    <button class="button" nz-button nzType="default" (click)="increase()">next</button>
    <button class="button" nz-button nzType="danger" (click)="decline()">previous</button>
  </div>
  <div *ngIf="completedCourse">
    <button type="button" class="btn btn-outline-danger btn-sm" (click)="back()">
      <span class="material-icons">arrow_back</span>
    </button>
    <nz-result
      nzStatus="success"
      nzTitle="Congratulations! You have successfully completed this course!"
      nzSubTitle="Thank you"
    >

    </nz-result>
  </div>
</div>

