<main>
  <section class="section section-shaped section-lg" >
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>


    </div>
    <div class="container pt-lg-md" style="width: 100%">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center mb-3">
                <h4>Create Request</h4>
              </div>

            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Enter your informations</small>
              </div>
              <form (ngSubmit)="register()" role="form">
                <div [ngClass]="{'focused':focus===true}" class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Nom</span>
                    </div>
                    <input (blur)="focus=false" (focus)="focus=true" class="form-control" placeholder="nom"
                      [(ngModel)]="request.nom" name="nom"    type="text">
                  </div>
                </div>
                <div [ngClass]="{'focused':focus===true}" class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Prenom </span>
                    </div>
                    <input (blur)="focus=false" (focus)="focus=true" class="form-control" placeholder="prenom"
                           [(ngModel)]="request.prenom" name="prenom"     type="text">
                  </div>
                </div>
                <div [ngClass]="{'focused':focus===true}" class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Telephone</span>
                    </div>
                    <input (blur)="focus=false" (focus)="focus=true" class="form-control" placeholder="enter your number"
                           [(ngModel)]="request.telephone" name="telephone"    type="number">
                  </div>
                </div>
                <div [ngClass]="{'focused':focus===true}" class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Email</span>
                    </div>
                    <input (blur)="focus=false" (focus)="focus=true" class="form-control" placeholder="enter email"
                           [(ngModel)]="request.email" name="email"     type="email">
                  </div>
                </div>
                <div [ngClass]="{'focused':focus===true}" class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Login</span>
                    </div>
                    <input (blur)="focus=false" (focus)="focus=true" class="form-control" placeholder="login"
                           [(ngModel)]="request.login" name="login"     type="text">
                  </div>
                </div>
                <div [ngClass]="{'focused':focus===true}" class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Password </span>
                    </div>
                    <input (blur)="focus=false" (focus)="focus=true" class="form-control" placeholder="password"
                           [(ngModel)]="request.password" name="password"    type="password">
                  </div>
                </div>
                <div [ngClass]="{'focused':focus===true}" class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Cv</span>
                    </div>
                    <input (blur)="focus=false" (focus)="focus=true" class="form-control" placeholder="enter driver link"
                           [(ngModel)]="request.cv" name="cv"      type="text">
                  </div>
                </div>
                <div [ngClass]="{'focused':focus===true}" class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Sex</span>
                    </div>
                    <select (blur)="focus=false" (focus)="focus=true" class="form-control" name="sex" [(ngModel)]="request.sex">
                      <option  ngValue="mal">Mal</option>
                      <option  ngValue="female">Female</option>
                    </select>
                  </div>
                </div>
                <div [ngClass]="{'focused':focus===true}" class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Institue</span>
                    </div>
                    <select (blur)="focus=false" (focus)="focus=true" class="form-control" name="institueId" [(ngModel)]="institueId" (change)="getParcours()">
                      <option *ngFor="let c of listInstitutes" [ngValue]="c.id">{{c.title}}</option>
                    </select>
                  </div>
                </div>
                <div [ngClass]="{'focused':focus===true}" class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Parcour</span>
                    </div>
                    <select (blur)="focus=false" (focus)="focus=true" class="form-control" name="institueId" [(ngModel)]="parcourId" >
                      <option *ngFor="let c of listParcous" [ngValue]="c.id">{{c.title}}</option>
                    </select>
                  </div>
                </div>


                <div class="text-center">
                  <button class="btn btn-primary mt-4" type="submit">Create Request</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
