
<nz-table >
  <thead>
  <tr>
    <th>Show Questions</th>
    <th>numberQuestions</th>
    <th >Parcours</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <ng-container >
    <tr>
      <td [nzExpand]="expandSet.has(QuizOffParcour.idquiz)" (nzExpandChange)="onExpandChange(QuizOffParcour.idquiz, $event)"></td>
      <td>{{ QuizOffParcour.numberquestions}}</td>
      <td>{{ QuizOffParcour.idparcour }}</td>
      <td><a><i (click)="deletetQuize(QuizOffParcour)" class="material-icons" style="color: red">delete</i></a></td>



    </tr>
    <tr [nzExpand]="expandSet.has(QuizOffParcour.idquiz)">
      <nz-table #innerTable [nzData]="QuizOffParcour?.questions" nzSize="middle" [nzShowPagination]="false">
  <thead>
  <tr style="background-color: #00bbff;">
    <th >question </th>
    <th>Laction</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ques of innerTable.data">
    <td>{{ ques.question }}</td>
    <td><a><i (click)="deletetQestion(ques)" class="material-icons" style="color: red">delete</i></a></td>

  </tr>
  </tbody>
</nz-table>
</tr>
</ng-container>
</tbody>
</nz-table>

