.startQuiz{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.answers{
  margin-bottom: 7px;
  border-radius: 20px;
  padding-left: 15px;

}
.colorText{
  color: black;
}
.next{
  float: right;
}
.submit{
  float: right;
}
