<div *ngIf="!startQuiz" class="startQuiz">
  <div class="row">
    <div class="col-md-16">
      <div class="card">
        <div class="card-header card-header-info">
          <h2 class="card-title">This the final exam</h2>
          <p>In this quiz you can test your competences in english, please read carefully the questions </p>
          <p>Good luck.</p>
        </div>
        <div class="card-body">
          <img alt="example" src="https://image.freepik.com/vecteurs-libre/quiz-dans-style-bande-dessinee-pop-art_175838-505.jpg"/>
          <button mat-raised-button class="btn btn-info" (click)="start()">Start</button>
        </div>
      </div>
    </div>

  </div>

  <!--  <h1>This the final exam!! Good luck.</h1>-->
  <!--  <br>-->
  <!--  <nz-card style="width:600px;" nzTitle="Final exam" [nzExtra]="extraTemplate">-->
  <!--    <img   alt="example" src="../../../../assets/quiz.jpg"/>-->
  <!--  </nz-card>-->
  <!--  <ng-template #extraTemplate>-->
  <!--    <button nz-button (click)="start()" nzType="primary">Start</button>-->
  <!--  </ng-template>-->
</div>

<div *ngIf="startQuiz" class="questionAnswers">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-icon card-header-rose">
          <div class="card-icon">
            <i class="material-icons">
              mode_edit
            </i>
          </div>
          <h4 class="card-title">Question {{currentQuestion + 1}} of {{quizParcours.numberquestions}} </h4>
        </div>
        <br>
        <div class="card-body">
          <h1>{{quizParcours.questions[currentQuestion].question}}</h1>
          <ul style="border-radius:0px;" nz-list nzBordered *ngFor="let item of quizParcours.questions[currentQuestion].responses" nzSize="small" class="answers">
            <label nz-list-item >
              <li  nzNoFlex>
                <div class="form-check form-check-radio">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="options" id="options" (change)="onAnswer(item.correct)">
                    <p class="colorText" >{{ item.response }}</p>
                    <span style="    height: 42px;
    width: 42px;margin-top: 16px;" class="circle"><span class="check"></span></span>
                  </label>
                </div>
              </li>
            </label>


          </ul>
          <div *ngIf="contour < quizParcours.numberquestions">
            <button mat-raised-button (click)="next()" class="btn btn-primary next">Next question</button>
          </div>
          <div *ngIf="contour == quizParcours.numberquestions">
            <button mat-raised-button (click)="showResult()" class="btn btn-rose submit">Submit</button>
            <div *ngIf="result">{{correctAnswers}} +++ {{incorrectAnswers}}</div>
          </div>
        </div>
      </div>
    </div>
    <!--  <p>Question {{currentQuestion + 1}} of {{quizParcours.numberQuestions}} </p>-->
    <!--  <h1>{{quizParcours.questions[currentQuestion].question}}</h1>-->
    <!--  <ul nz-list nzBordered *ngFor="let item of quizParcours.questions[currentQuestion].responses" nzSize="large" class="answers">-->
    <!--    <label   nz-list-item >-->
    <!--      <li nzNoFlex>-->
    <!--        <input type="radio" name="options" (change)="onAnswer(item.correct)" >-->
    <!--        {{ item.response }}-->
    <!--      </li>-->
    <!--    </label>-->
    <!--  </ul>-->
    <!--  <div *ngIf="contour < 5">-->
    <!--  <button (click)="next()">next</button>-->
    <!--  </div>-->
    <!--  <div *ngIf="contour == 5">-->
    <!--    <button nz-button nzType="primary" class="submit" (click)="showResult()" nzDanger>Submit</button>-->
    <!--    <div *ngIf="result">{{correctAnswers}} +++ {{incorrectAnswers}}</div>-->
    <!--  </div>-->
  </div>
</div>
