<div class="card">
  <div class="card-header card-header-danger" >
    <h4 class="card-title">Quiz progresse</h4>
    <p class="card-category">this table shows you your progress in every course</p>
  </div>
  <div class="card-content table-responsive table-full-width">
    <nz-table [nzData]="EtudaintQuizCoure"  nzTableLayout="fixed">
      <thead >
      <tr >
        <th >
          Quiz Of Coure
        </th>
        <th>Number of Question</th>
        <th>Date</th>
        <th>Rate</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of EtudaintQuizCoure">
        <td>{{ data.quizCourse.coure.title }}</td>
        <td>{{ data.quizCourse.numberquestions }}</td>
        <td>{{ data.datedepass }}</td>
        <td> <nz-progress [nzPercent]="data.note" nzType="circle" [nzWidth]="80"></nz-progress>
        </td>

      </tr>
      </tbody>
    </nz-table>

  </div>
</div>
