
<nz-table #nestedTable [nzData]="listOfParentData" [nzPageSize]="10">
  <thead>
  <tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Email</th>
    <th>CV</th>
    <th>Date</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <ng-template ngFor let-data [ngForOf]="nestedTable.data">
    <tr>
      <td>{{ data.firstName }}</td>
      <td>{{ data.lastName }}</td>
      <td>{{ data.email }}</td>
      <td><a href="{{ data.cv }}">Show</a></td>
      <td>{{ data.createdAt }}</td>
      <td>
        <a (click)="displayAlert()">Approve</a>
      </td>
    </tr>
  </ng-template>
  </tbody>
</nz-table>

