<div class="logo">
  <a href="https://www.creative-tim.com" class="simple-text">
    <div class="logo-img">

    </div>
    Creative Tim
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active"  class="nav-item">
      <a class="nav-link" routerLink="student/show-course">
        <i class="material-icons">person</i>
        <p>show course</p>
      </a>
    </li>
    <li routerLinkActive="active"  class="nav-item">
      <a class="nav-link" routerLink="student/show-quiz">
        <i class="material-icons">person</i>
        <p>show quiz</p>
      </a>
    </li>
    <li routerLinkActive="active"  class="nav-item">

        <i class="material-icons">person</i>
        <p>show quiz parcour</p>
      </a>
    </li>
  </ul>
</div>
