<div class="card">
  <div class="card-header card-header-primary">
    <h4 class="card-title">List of institutes</h4>
    <p class="card-category">In this table you can find a list of all institutes with their information</p>
  </div>
  <div class="card-content table-responsive table-full-width">
    <br><br>
    <button mat-raised-button class="btn btn-outline-primary addInstitute" routerLink="../add-institute"><span
      class="material-icons">add</span>Add new Institute
    </button>
    <nz-table #nzTable [nzData]="listOfDisplayInstitute" nzTableLayout="fixed">
      <thead>
      <tr>
        <th nzWidth="60px"></th>
        <th>
          ID
        </th>
        <th>Image</th>
        <th nzCustomFilter>Institute
          <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th>Phone</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let data of nzTable.data ">
        <tr>
          <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
          <td>{{ data.id }}</td>
          <td>{{ data.image }}</td>
          <td>{{ data.libelle }}</td>
          <td>{{ data.phone }}</td>
          <td>

            <button nz-button nzType="default" nzShape="circle" (click)="delete(data)"><span class="material-icons">delete</span>
            </button>
            &nbsp;&nbsp;
            <button nz-button nzType="default" nzShape="circle" (click)="edit(data.id)"><span class="material-icons">edit</span>
            </button>
          </td>

        </tr>
        <tr [nzExpand]="expandSet.has(data.id)">
          <span>the description is : {{ data.description }}</span>
        </tr>
      </ng-container>
      </tbody>
    </nz-table>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue"/>
          <button  mat-raised-button class="btn btn-primary btn-sm search-button" (click)="search()" >
            Search
          </button>
          <button  mat-raised-button class="btn btn-outline-primary btn-sm "(click)="reset()">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>
  </div>
</div>
