<div class="card">
  <div class="card-header card-header-warning" >
    <h4 class="card-title">Course progresse</h4>
    <p class="card-category">this table shows you your progress in every course</p>
  </div>
  <div class="card-content table-responsive table-full-width">
<nz-table #nzTable [nzData]="courseStudentDisplay" nzTableLayout="fixed">
  <thead >
  <tr >
    <th nzCustomFilter>
      Course
      <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
        <i nz-icon nzType="search"></i>
      </nz-filter-trigger>
    </th>
    <th>Number of Valid Section</th>
    <th>Number of no Valid Section</th>
    <th>Rate</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of nzTable.data">
    <td>{{ data.course.title }}</td>
    <td>{{ data.numberValidSection }}</td>
    <td>{{ data.numberNoValidSection }}</td>
    <td> <nz-rate [ngModel]=" data.numberValidSection " [nzCount]="data.numberValidSection + data.numberNoValidSection" nzDisabled></nz-rate>
    </td>

  </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button mat-raised-button class="btn btn-warning btn-sm search-button" (click)="search()">Search</button>

      <button type="button" class="btn btn-outline-warning btn-sm" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
  </div>
</div>
