<nz-table #nzTable [nzData]="courseStudentDisplay" nzTableLayout="fixed">
  <thead>
  <tr>
    <th nzCustomFilter>
      Course
      <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
        <i nz-icon nzType="search"></i>
      </nz-filter-trigger>
    </th>
    <th>Number of Valid Section</th>
    <th>Number of no Valid Section</th>
    <th>Rate</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of nzTable.data">
    <td>{{ data.course.title }}</td>
    <td>{{ data.numberValidSection }}</td>
    <td>{{ data.numberNoValidSection }}</td>
    <td> <nz-rate [ngModel]=" data.numberValidSection " [nzCount]="data.numberValidSection + data.numberNoValidSection" nzDisabled></nz-rate>
    </td>

  </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
