<div class="m-5">
  <nz-tabset>
    <nz-tab  [nzTitle]="titleTemplateStudent">
      <ng-template #titleTemplateStudent>
        <img src="../../../../assets/student.png" style="width: 30px;height: 30px">
        Student
      </ng-template>
      <app-registration-student></app-registration-student>
    </nz-tab>
    <nz-tab [nzTitle]="titleTemplateProf">
      <ng-template #titleTemplateProf>
        <img src="../../../../assets/prof.png" style="width: 30px;height: 30px">
        Professor
      </ng-template>
      <app-registration-prof></app-registration-prof>
    </nz-tab>
  </nz-tabset>
</div>
