<div class="">
  <form  #f ="ngForm"  [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm(f.value)">
<div class="card">
  <div class="card-header card-header-danger" style="text-align: center">
    <h4 class="card-title">Create Quiz for a course</h4>
    <p class="card-category">Save the questions with their responses </p>
  </div>
  <div class="card-body">



    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzFor="cour" nzRequired>Course</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Please select your coure!">
        <nz-select
          id="cour" formControlName="cours" nzPlaceHolder="Select course"
          nzAllowClear>
          <nz-option *ngFor="let option of listOfCours" [nzLabel]="option.title" [nzValue]="option"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>



    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzFor="Qestion" nzRequired>Question</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Please enter your Question!">
        <input type="text" nz-input formControlName="Question" placeholder="Question" />
      </nz-form-control>
    </nz-form-item>

    <div nz-row >
      <div nz-col nzSpan="16" class="Qrow">
        <nz-form-item>
          <nz-form-control  [nzSpan]="28" nzErrorTip="Please choose an option!">
            <nz-input-group nzPrefixIcon="form">
              <input type="text" nz-input formControlName="option" placeholder="Option" />
            </nz-input-group>
          </nz-form-control>

        </nz-form-item>

      </div>

      <div nz-col nzSpan="7">

        <nz-form-item>

          <nz-form-control [nzSpan]="25" nzErrorTip="Please select your choice!">
            <nz-select  id="qetta" formControlName="Qetat" nzPlaceHolder="Select Question state">
              <nz-option nzValue="true" nzLabel="true"></nz-option>
              <nz-option nzValue="false" nzLabel="false"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>


      </div>


    </div>





    <button mat-raised-button class="btn btn-danger" type="submit" (click)="onNextClick()"><i class="material-icons">add</i></button>

  </div>
</div>

    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">list_alt</i>
        </div>
        <h4 class="card-title">Options Of Question</h4>
      </div>
      <div class="card-body">
      <div class="card-content table-responsive table-full-width">
        <table class="table">
    <thead>
    <tr>
      <th>title</th>
      <th>question state </th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of ShowOptionsOfQuestion index as i  " >
      <td>{{data.response}}</td>
      <td>{{data.correct}}</td>
      <td><button mat-raised-button (click)="delete(i)" class="btn btn-primary"><i class="material-icons">delete</i></button></td>


    </tr>
    </tbody>

        </table>
      </div>

    <button mat-raised-button class="btn btn-primary" type="submit" (click)="onCreateQ()"><i class="material-icons">done</i>Save Question</button>
    </div>
    </div>



    <div class="card">
      <div class="card-header card-header-icon card-header-success">
        <div class="card-icon">
          <i class="material-icons">help</i>
        </div>
        <h4 class="card-title">Questions Of Quiz </h4>
      </div>
      <div class="card-body">
      <div class="card-content table-responsive table-full-width">
        <table class="table">
      <thead>
      <tr>
        <th>Question</th>
        <th>Action</th>
      </tr>

      </thead>
      <tbody>
      <ng-container *ngFor="let data of QuestionOfCoure index as i  " >
      <tr >
        <!--   <td [(nzExpand)]="expand"  (nzExpandChange)="onExpandChange(data.id, $event)"></td>  -->
             <td>{{data.question}}</td>
        <td><button mat-raised-button (click)="deletetQestion(i)" class="btn btn-success"><i class="material-icons">delete</i></button></td>


           </tr>

        <!--    <tr  [nzExpand]="expand" *ngFor="let data of data.responses index as i">
            <td style="font-weight: bold;">{{data.response}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{data.correct}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button>x</button> </td>



      </tr> -->
      </ng-container>
      </tbody>
        </table>
      </div>
    <button mat-raised-button class="btn btn-success" type="submit" (click)="onSave()" ><i class="material-icons">done</i>save</button>

      </div>
    </div>



  </form>
</div>

