<div class="">
  <form #f="ngForm" (ngSubmit)="submitForm(f.value)" [formGroup]="validateForm" class="login-form">
    <div class="card">
      <div class="card-header card-header-danger" style="text-align: center">
        <h4 class="card-title">Create Quiz Cour</h4>
        <p class="card-category">Category subtitle</p>
      </div>
      <div class="card-body">


        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzFor="cour" nzRequired>Cour</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Please select your coure!">
            <nz-select
              formControlName="cours" id="cour" nzAllowClear
              nzPlaceHolder="Select cour">
              <nz-option *ngFor="let option of listOfCours" [nzLabel]="option.title" [nzValue]="option"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>


        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzFor="Qestion" nzRequired>Qestion</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Please enter your Qestion!">
            <input formControlName="Question" nz-input placeholder="Question" type="text"/>
          </nz-form-control>
        </nz-form-item>

        <div nz-row>
          <div class="Qrow" nz-col nzSpan="16">
            <nz-form-item>
              <nz-form-control [nzSpan]="28" nzErrorTip="Please input your option!">
                <nz-input-group nzPrefixIcon="form">
                  <input formControlName="option" nz-input placeholder="Option" type="text"/>
                </nz-input-group>
              </nz-form-control>

            </nz-form-item>

          </div>

          <div nz-col nzSpan="7">

            <nz-form-item>

              <nz-form-control [nzSpan]="25" nzErrorTip="Please select your choix!">
                <nz-select formControlName="Qetat" id="qetta" nzPlaceHolder="Select Qestion etat">
                  <nz-option nzLabel="true" nzValue="true"></nz-option>
                  <nz-option nzLabel="flase" nzValue="false"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>


          </div>


        </div>


        <button (click)="onNextClick()" class="btn btn-danger" mat-raised-button type="submit"><i
          class="material-icons">add</i></button>

      </div>
    </div>

    <div class="card">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <i class="material-icons">list_alt</i>
        </div>
        <h4 class="card-title">Options Of Question</h4>
      </div>
      <div class="card-body">
        <div class="card-content table-responsive table-full-width">
          <table class="table">
            <thead>
            <tr>
              <th>titer</th>
              <th>question etat</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of ShowOptionsOfQuestion index as i  ">
              <td>{{data.response}}</td>
              <td>{{data.correct}}</td>
              <td>
                <button (click)="delete(i)" class="btn btn-primary" mat-raised-button><i
                  class="material-icons">delete</i></button>
              </td>


            </tr>
            </tbody>

          </table>
        </div>

        <button (click)="onCreateQ()" class="btn btn-primary" mat-raised-button type="submit"><i class="material-icons">done</i>Save
          Question
        </button>
      </div>
    </div>


    <div class="card">
      <div class="card-header card-header-icon card-header-success">
        <div class="card-icon">
          <i class="material-icons">help</i>
        </div>
        <h4 class="card-title">Questions Of Quiz </h4>
      </div>
      <div class="card-body">
        <div class="card-content table-responsive table-full-width">
          <table class="table">
            <thead>
            <tr>
              <th>Question</th>
              <th>Action</th>
            </tr>

            </thead>
            <tbody>
            <ng-container *ngFor="let data of QuestionOfCoure index as i  ">
              <tr>
                <!--   <td [(nzExpand)]="expand"  (nzExpandChange)="onExpandChange(data.id, $event)"></td>  -->
                <td>{{data.question}}</td>
                <td>
                  <button (click)="deletetQestion(i)" class="btn btn-success" mat-raised-button><i
                    class="material-icons">delete</i></button>
                </td>


              </tr>

              <!--    <tr  [nzExpand]="expand" *ngFor="let data of data.responses index as i">
                  <td style="font-weight: bold;">{{data.response}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{data.correct}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button>x</button> </td>



            </tr> -->
            </ng-container>
            </tbody>
          </table>
        </div>
        <button (click)="onSave()" class="btn btn-success" mat-raised-button type="submit"><i class="material-icons">done</i>valide
        </button>

      </div>
    </div>


  </form>
</div>

