.submit{
  margin-top: 20px;
  margin-left: 28px;
}
.answers{
  margin-bottom: 5px;
}
.startQuiz{
  float: right;
}
.card{
  margin-bottom: 5px;
}
.colorText{
  color: black;
}
.next{
  float: right;
}
.submit{
  float: right;
}
.answers{
  margin-bottom: 7px;
  border-radius: 20px;
  padding-left: 15px;

}
