<!--id:3,-->
<!--phone:'0658968814',-->
<!--image:'image3',-->
<!--login:'login3',-->
<!--email:'email3',-->
<!--password:'password3',-->
<!--libelle:'institute3',-->
<!--description:-->
<div class="col-md-10" class="addInstituteCard">
  <div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">Add new Institute</h4>
      <p class="card-category">fill the following form to add a new institute</p>
    </div>
    <div class="card-body">
      <div nz-row nzAlign="middle" nzJustify="center">

        <br>
        <form (ngSubmit)="submitForm()" [formGroup]="MyFom"  nz-form>


          <nz-form-item>
            <nz-form-label  nzFor="login" nzRequired>Login</nz-form-label>
            <nz-form-control  nzErrorTip="Enter your Login!">
              <input formControlName="login" id="login" nz-input/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label  nzFor="email" nzRequired>E-mail</nz-form-label>
            <nz-form-control  nzErrorTip="The input is not valid E-mail!">
              <input formControlName="email" id="email" nz-input/>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label  nzFor="password" nzRequired>Password</nz-form-label>
            <nz-form-control  nzErrorTip="Please input your password!">
              <input formControlName="password" id="password" nz-input type="password"/>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label  nzRequired nzFor="title">Title</nz-form-label>
            <nz-form-control  nzErrorTip="Enter your title!">
              <input nz-input formControlName="title" id="title"/>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label  nzRequired nzFor="telephone">Telephone</nz-form-label>
            <nz-form-control  nzErrorTip="Enter your telephone!">
              <input nz-input type="number" formControlName="telephone" id="telephone"/>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="register-area" nz-row>
            <nz-form-control [nzOffset]="6" [nzSpan]="14">
              <button class="btn btn-outline-danger addInstitute" mat-raised-button type="submit"><span
                class="material-icons">add</span>Register
              </button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>


    </div>
  </div>
</div>
