<nz-layout style="min-height: 100vh">
  <nz-sider nzWidth="256px" nzBreakpoint="md" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
      <nz-sider nzWidth="256px" nzBreakpoint="md" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <app-sidebar role="admin"></app-sidebar>
        <div class="sidebar-background" ></div>
      </nz-sider>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <router-outlet style="text-align: center;"></router-outlet>
      </div>
    </nz-content>
  </nz-layout>

</nz-layout>

