<div class="card">
  <div class="card-header card-header-danger" style="text-align: center">
    <h4 class="card-title">Create new Parcour</h4>

  </div>
  <div class="card-body">
    <div nz-row>
      <div nz-col nzSpan="8"></div>
      <div nz-col nzSpan="15">

        <form #f ="ngForm"  nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10" nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm(f.value)">

          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your titre!">
              <div class="form-group">
                <input type="text" value="" formControlName="titre" placeholder="titre" class="form-control" />
              </div>
            </nz-form-control>
          </nz-form-item>


          <nz-form-control nzErrorTip="Please input your Descption!">
            <div class="form-group">
              <textarea matInput  formControlName="Descption" placeholder="Descption" class="form-control" ></textarea>
            </div>
          </nz-form-control>



          <button type="submit" mat-raised-button class="btn btn-danger"><i class="material-icons">done</i> Ajouter</button>



        </form>
      </div>
      <div nz-col nzSpan="5"></div>
    </div>


  </div>
</div>

